body
{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
.main
{
    width: 425px;
    height: 450px;
    margin: 0 auto;
    padding-top:20px;
    background-color: #6f6d6d;
    margin-top: 150px;
    border-radius: 8px;
}
.up
{
    width: 365px;
    height: 56px;
    margin-left: 18px;
    background-color:#4a4949;
    border-radius: 5px;
    font-size: 30px;
    text-align: end;
    pointer-events: none;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    padding-top: 18px;
    padding-right: 20px;
}
.down
{
    margin-top: 20px;
    width: 100%;
    padding-top: 10px;
    height: 340px;
    border-radius: 4px;
}
.ff1,.ff2,.ff3,.ff4,.ff0
{
    margin-top: 3px;
    width: 100%;
    height: 63px;
}
button{
    width: 80px;
    cursor: pointer;
    height: 40px;
    margin-left: 18px;
    margin-top: 10px;
    outline: none;  
    background-color:#4a4949;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 22px;
}
