body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.main
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 300px;
    background-color: #f1f1f1;
}
#video
{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #000000;
    left: 23%;
}
.open
{
    width: 160px;
    height: 40px;
    font-size: 16px;
    position: absolute;
    top: 68%;
    left: 42%;
    transform: translate(-50%, -50%);
    border: none;
    color: #ffffff;
    border-radius: 3px;
    background-color: rgb(138, 138, 254);
    cursor: pointer;
}
.close
{
    width: 160px;
    height: 40px;
    font-size: 16px;
    position: absolute;
    top: 68%;
    left: 57%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 3px;
    background-color: rgb(255, 114, 114);
    cursor: pointer;
}